.popup {
    position: absolute;
    top: 10%;
    width: 80%;
    z-index: 1000;
}

.span3.home {
    margin: 14px;

}

#modalScreen {
    display: none;
    position: absolute;
    height: 1000%;
    width: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 100;
}

.container {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}